<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vic.bidds">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.Ad_ID" />

    <application
        android:name=".addopenads.MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/appodsicon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/appodsicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.SureBettingTips"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".TicketScrenActivity"
            android:parentActivityName=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".ViewDetailsActivity2"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".SplshActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutusActivity2"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainVIpActivity"
            android:exported="false" />
        <activity
            android:name=".ContactUSActivty"
            android:exported="false" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/appodsicon" /> <!-- Default notification channel (required for Android 8.0 and above) -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/notification_channel_id_message" />

        <activity
            android:name=".ViewDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity android:name=".SignInActivity" />
        <activity android:name=".SignUpActivity" />

        <service
            android:name=".fcm.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3556407558320818~5274590322" />
        <meta-data
            android:name="applovin.sdk.key"
            android:value="@string/applovin_sdkkey" />
    </application>

</manifest>